
body{
  margin:0;
  font-family:Arial;
  background:#020617;
  color:white;
  padding-bottom:80px;
}
.page{display:none;padding:20px;}
.page.active{display:block;}
.bottom-menu{
  position:fixed;
  bottom:0;left:0;right:0;
  background:#000;
  display:flex;
  justify-content:space-around;
  padding:10px 0;
  border-top:1px solid #1e3a8a;
}
.bottom-menu button{
  background:none;
  border:none;
  color:white;
  font-size:24px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.bottom-menu button span{
  font-size:12px;
  margin-top:3px;
}
